body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

a {
  color:#393939;
  text-decoration:none;
}

a:hover {
  color:#727272;
}

#pitch {
    font-size:48pt;
    text-align:center;
    vertical-align:center;
}

#generate {
    display:block;
    width:100%;
    text-align:center;
}

#inspired {
    display:block;
    width:100%;
    text-align:right;
}
